In [1]:
import pandas as pd

In [2]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [5]:
df=pd.DataFrame(liste,columns=["VERİ"])
df

  VERİ
0    1
1    2
2    3
3    a
4    b
5    c

In [6]:
import numpy as np

In [15]:
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[79, 10, 26],
       [13, 49, 47],
       [64, 16,  7]])

In [29]:
df1=pd.DataFrame(veriler, index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"] )
df1

        sütun1  sütun2  sütun3
satır1      79      10      26
satır2      13      49      47
satır3      64      16       7

In [31]:
veriler=[["sedef","şirin",16],["kübra","taş",16],["nisa","yılbur",16]]
veriler

[['sedef', 'şirin', 16], ['kübra', 'taş', 16], ['nisa', 'yılbur', 16]]

In [37]:
df1=pd.DataFrame(veriler, index=["öğrenci1","öğrenci2","öğrenci3"],columns=["isim","soyad","yaş"] )
df1

           isim   soyad  yaş
öğrenci1  sedef   şirin   16
öğrenci2  kübra     taş   16
öğrenci3   nisa  yılbur   16

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, öğrenci1 to öğrenci3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isim    3 non-null      object
 1   soyad   3 non-null      object
 2   yaş     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

In [40]:
df.axes

[RangeIndex(start=0, stop=6, step=1), Index(['VERİ'], dtype='object')]